<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pplonefamily new website</title>
    <!--link rel="stylesheet" href="assets/css/bootstrap.min.css"-->
    <link href="https://fonts.googleapis.com/css2?family=Gotu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/slick/slick.css">
    <link rel="stylesheet" href="assets/css/base.css">
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/bootstrap4/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <!--  Show this only on mobile to medium screens  -->
            <a class="navbar-brand d-lg-none" href="#"><img src="assets/images/new-logo.png"  height="80" alt="PPL One Family"></a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <!--  Use flexbox utility classes to change how the child elements are justified  -->
            <div class="collapse navbar-collapse justify-content-between" id="mainMenu">
            
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Member</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="benefits.html">Benefits</a>
                            <a class="dropdown-item" href="application.html">Application</a>
                            <a class="dropdown-item" href="financial-protection.html">Financial Protection</a>
                            <a class="dropdown-item" href="previous-events.html">Previous Events</a>
                        </div>
                    </li>
                </ul>
                
                <!--   Show this only lg screens and up   -->
                <a class="navbar-brand d-none d-lg-block" href="#"><img src="assets/images/new-logo.png" height="150" alt="PPL One Family"></a>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="rules-and-regulations.html">Rules</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    
    </nav>

    <header>
        <div class="main-banner">
            <div class="common-header">
                <div class="banner-common-text">
                    <div class="container">
                        <h1>About Us</h1>
                    </div>
                </div>
                <picture>
                    <source media="(min-width: 741px)" srcset="assets/images/about-us-banner.jpg">
                    <source media="(min-width: 200px)" srcset="assets/images/about-us-banner-mob.jpg">
                    <img class="img-fluid" src="assets/images/about-us-banner.jpg">
                </picture>
            </div>
        </div>
    </header> 

    <main class="main-content">
        <section class="about-us-content">
            <div class="container">
                <!--img src="assets/images/mainfin.jpg" class="img-fluid"-->
                <div class="about-us-boxes">
                    <blockquote class="quote">
                        <h3 style="text-align:justify">Who We Are</h3>
                        <p>PPL Networks management has many years of hands on experience in all segments of the logistics industry. PPL is derived from our name Pacific Power Logistics, headquartered in Hong Kong with a global presence in over 120 countries.</p>
                    </blockquote>
                    
                    <blockquote class="quote">
                        <h3 style="text-align:justify">What We Do</h3>
                        <p>PPL Networks is 100% neutral and not owned by any freight forwarder.<br>
                        Being fully dedicated to the management and development of our network, we take pride in supporting our members in developing their logistics business on a global scale </p>
                    </blockquote>
                    <blockquote class="quote">
                        <h3 style="text-align:justify">What We Aim</h3>
                        <p>PPL NETWORKS as a very fast growing and very dynamic family of networks for independent freight forwarders and logistic service providers, We aim to be the most personalized logistic networks alliance and highly values a family spirit among all network members worldwide.</p>
                    </blockquote>
                    <blockquote class="quote">
                        <h3 style="text-align:justify">We Are Here</h3>
                        <p>PPL also stands for PeoPLe. PPL is a PeoPLe's network in its truest sense. One Family bringing you the Power of Networking.<br><br><a href="/previous-events" class="button">our previous events</a>
                        </p>
                    </blockquote>
                </div>
            </div>
        </section>
        
        
        <section class="views-our-amazing-team">  
            <div class="container">
                <h2 class="block-title">Our amazing team</h2>
                <div class="our-amazing-team">
                    <div class="staff">
                        <img src="assets/images/staff/koen.png" alt="" srcset="">
                        <h3>Koen Roeyers</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                    <div class="staff">
                        <img src="assets/images/staff/merlyn.png" alt="" srcset="">
                        <h3>Merlyn Sevilla Roeyers</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                    <div class="staff">
                        <img src="assets/images/staff/armifin.jpg" alt="" srcset="">
                        <h3>Armi Tolentino</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                    <div class="staff">
                        <img src="assets/images/staff/tatafin2.jpg" alt="" srcset="">
                        <h3>Emmannuel Secretaria</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                    <div class="staff">
                        <img src="assets/images/staff/aileen.jpg" alt="" srcset="">
                        <h3>Aileen Mae Palapar</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                    <div class="staff">
                        <img src="assets/images/staff/rae.jpg" alt="" srcset="">
                        <h3>Rae Eguia</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                    <div class="staff">
                        <img src="assets/images/staff/ellen.jpg" alt="" srcset="">
                        <h3>Ellen Velez</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                    <div class="staff">
                        <img src="assets/images/staff/jakefinal.jpg" alt="" srcset="">
                        <h3>Jake Dulay Jaca</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer-distributed">
        <div class="container">
            <div class="footer-left">

                <h3><img src="assets/images/logo.png" alt="" class="img-fluid" style="max-width: 350px; width: 100%;"></h3>

                <p class="footer-links">
                    <a href="#" class="link-1">Castle Peak Road No. 1, Tuen Mun, N.T., Hong Kong</a>
                    
                    <a href="#" class="link-1">Tel. +852 2543 2323</a>
                    <a href="#" class="link-1">Fax +852 2543 2368</a>
                
                    <a href="mailto:team@pplonefamily.net" class="link-1">team@pplonefamily.net</a>
                </p>
            </div>

            <div class="footer-center footer-menu">
                <h3>Footer Menu</h3>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Rules And Regulations</li>
                    <li>Benefits</li>
                    <li>Contact Us</li>
                </ul>

            </div>

            <div class="footer-right">
                <h3>About</h3>
                <p class="footer-company-about">
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="iconic iconic-star"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>

            </div>
        </div>
    </footer>
    <div class="copyright"> PPL One Family Copyright &copy; 2021</div>
</body>
</html>