@font-face {font-family: 'SilkSerif-Regular';src: url('../assets/fonts/3A1E02_0_0.eot');src: url('../assets/fonts/3A1E02_0_0.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/3A1E02_0_0.woff2') format('woff2'),url('../assets/fonts/3A1E02_0_0.woff') format('woff'),url('../assets/fonts/3A1E02_0_0.ttf') format('truetype');}
@font-face {font-family: 'SidecarLight';src: url('../assets/fonts/3A1E02_1_0.eot');src: url('../assets/fonts/3A1E02_1_0.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/3A1E02_1_0.woff2') format('woff2'),url('../assets/fonts/3A1E02_1_0.woff') format('woff'),url('../assets/fonts/3A1E02_1_0.ttf') format('truetype');}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'SilkSerif-Regular';
}
.ppl-mobile {
    display: none;
}
.ppl-desktop {
    display: block;
}

.display-flex {
    display: flex;
}

/**
* Main Menu
*/
.main-menu-wrapper {
    /*background: rgba(80, 126, 116, 0.42);*/
}
#mainMenu {
    font-size: 18px;
}
.navbar {
    background: rgba(232, 233, 235, 0.76);
    font-family: 'SilkSerif-Regular';
}
.navbar-expand-lg .navbar-nav a.nav-link,
.navbar-expand-lg .navbar-nav.dropdown-item {
    font-size: 24px;
    color: #121316;
}
.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
.dropdown-menu {
  margin-top: 0;
}
.dropdown-item {
    font-size: 18px;
}
/**
* Header
*/
header {
    margin-bottom: 80px;
}
.main-banner {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -10px;
}
.main-banner .slick-slide * {
    outline: none !important;
}
.main-banner img {
    width: 100%;
}

/* the slides */
.main-banner.slick-slider,
.main-banner.slick-slider div {
    overflow: hidden;
}
/* the parent */
.main-banner.slick-slider .slick-list {
    margin: 0 0 -7px 0;
}
.main-banner .slick-slide .slide {
    position: relative;
}
.banner-item-text {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    left: 20vw;
    color: #fff;
    max-width: 500px;
}
.banner-item-text > div {
    background: rgb(0 0 0 / 43%);
    padding: 20px;
    /*border-radius: 15px;*/
}
.banner-item-text h2 {
    margin: 0 0 20px 0;
    font-size: 56px;
}
.banner-item-text p {
    margin: 0 0 20px 0;
}
/* Slider arrows */
.main-banner .slick-arrow {
    z-index: 9;
    position: absolute;
    top: 50%;
    display: none !important;
}
.main-banner .slick-prev {
    left: 20px;
}
.main-banner .slick-next {
    right: 20px;
}

/* Common Header pages */
.common-header {
    position: relative;
}

.banner-common-text {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    top: 8vw;
    left: 0;
}

.banner-common-text h1 {
    margin: 20px 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
/**
* Main Content
*/
.inner-pages {
    padding: 0px 0 60px 0;
}

/* Homepage The power of networking */

section.the-power-of-networking {
    background: #0b1419b5;
    text-align: center;
    padding: 30px;
}
.power-of-networking h2 {
    text-align: center;
}
.ppl-logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.members-logo img {
    max-height: 80px;
    width: auto;
}

/* Homepage Boxes*/
.our-services {
    padding: 80px 0 100px 0;
}
.home-boxes-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}
.home-boxes-wrapper .home-boxes {
    text-align: center;
    width: 360px;
    padding: 20px 0 30px 0;
    margin: 20px 0px;
    min-height: 320px;
    background: #cfa04945;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
    border: 1px solid #fff9ee45;
    position: relative;
}
.home-boxes-wrapper .home-boxes h3 {
    margin-bottom: 20px;
}
.home-boxes-wrapper .home-boxes p,
.home-boxes-wrapper .home-boxes form {
    padding: 0 20px;
}
.home-boxes-wrapper .home-boxes:nth-child(1) {
    background: #0d4d92;
    color: #fff;
}
.home-boxes-wrapper .home-boxes:nth-child(2) {
    background: #007bff1c;
}
.home-boxes-wrapper .home-boxes:nth-child(2) img {
    max-width: 160px;
}
.home-boxes-wrapper .home-boxes:nth-child(3) {
    background: #e9ecef;
    text-align: left;
}
.home-boxes-wrapper .home-boxes:nth-child(3) h3 {
    text-align: center;
}
.home-boxes-wrapper .home-boxes.ppl-box-events ul li {
    margin: 10px 0;
}
.home-boxes-wrapper .home-boxes .newsletter-line {
    height: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    background: repeating-linear-gradient(-225deg, #4782ce, #4782ce 12px, #fff 12px, #fff 24px, #ea222e 24px, #ea222e 36px, #fff 36px, #fff 48px);
}
.home-box-btn {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: inherit;
    text-align: center;
    text-transform: capitalize;
}

/* Service System */
.service-system {
    background: rgb(238 245 253);
    padding: 60px 0;
}
.service-system-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.system-item {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding:20px;
    max-width: 330px;
    margin: 20px 0;
}

/* Testimonials */
.testimonials {
    background: url(../images/testibg2.jpg);
    background-size: cover;
    padding: 8vw 0;
}
.testimonials h2 {
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgb(0 0 0 / 43%);
    margin-bottom: 40px;
}
.testimonial-reel {

}
.testimonial-reel .box {
    position: relative;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.testimonial-reel .box .image {
    margin: 0 auto -45px;
    text-align: center;
}
.testimonial-reel .box .image img {
    height: 130px;
    margin: 0 auto;
}
.testimonial-reel .box .test-component {
    background-color: #fff;
    padding: 1rem 2.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    min-height: 200px;
    border-radius: 10px;
}
.testimonial-reel .box .test-title {
    color: #007bf9;
    text-align: center;
    margin-top: 3.3rem;
    margin-bottom: 15px;
}
.testimonial-reel .box .test-content {
    text-align: center;
}
.testimonial-reel .slick-slide {
    opacity: 0.3;
    transition: opacity 0.3s;
    padding-left: 1rem;
    padding-right: 1rem;
}
.testimonial-reel .slick-slide.slick-cloned {
    opacity: 0.3;
    transition: opacity 0.3s;
}
.testimonial-reel .slick-slide.slick-current.slick-active {
    opacity: 1;
    transition: opacity 0.3s;
}
.testimonial-reel ul.slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
}

/**
* About Us
*/
.about-us-content {
    margin-bottom: 40px
}
.about-us-content p {
    margin-bottom: 30px;
}

.quote {
    padding-left: 43px;
    border-left: 2px solid #139df8;
    margin: 0 0 32px;
    font-size: 16px;
    line-height: 1.5;
    color: #757580;
}

.our-amazing-team {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.our-amazing-team .staff {
    width: 25%;
    padding: 10px 20px;
}
.our-amazing-team .staff img {
    width: 100%;
}
.our-amazing-team .staff h3 {
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
    background: #139df8;
    font-weight: 500;
    color: #fff;
}

.views-our-amazing-team h2 {
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
}

/**
* Benefits
*/
.benefits-content {
    margin-bottom: 50px;
}
.benefits-list {
    margin-top: 30px;
}
.benefits-list,
.benefits-list li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.benefits-list li {
    margin: 20px 0;
}

/**
* Rules and Regulations
*/
.rules-and-regulations-content h3 {
    margin-bottom: 40px;
}
.rules-and-regulations-content .quote {
    padding-left: 0;
    border-left: 0;
    padding-bottom: 43px;
    border-bottom: 1px solid #139df8;
}
.rules-item {
    display: flex;
    justify-content: start;
    align-items: center;
}
.rules-item img {
    margin: 0px 30px 0 0px;
}

/**
* Member listing
*/
div#search {
    background: #00b0cc12;
    padding: 20px;
}
.member-item {
    margin: 20px 0;
}
.member-item h3 {
    background-color: aliceblue;
    padding: 10px 20px;
}
.member-item .member-info {
    display: flex;
}
.member-item .member-info > div:nth-child(1) {
    padding: 20px;
}
.member-item .member-info > div:nth-child(2) {
    padding: 20px 30px;
}
.member-item .member-info .member-logo img {
    display: block;
}
.member-details table {
    width: 100%;
}
.member-details table tr td {
    padding: 5px 20px;
    font-size: 14px;
}
.member-details table tr td:nth-child(2) {
    /*min-width: 500px;*/
    padding: 5px 0px;
}
.member-details table tr td.Active {
    background: url(../images/active.png) no-repeat;
    width: 100px;
    font-size: 0px;
    height: 20px;
}
.member-details table tr td.Active {
    background: url(../images/active.png) no-repeat;
    width: 100px;
    font-size: 0px;
    height: 20px;
}
.member-details table tr td.Blue.Member {
    background: url(../images/blue.jpg) no-repeat;
    width: 140px;
    margin-left: 35px;
    height: 20px;
    padding-left: 20px;
    font-size: 0px;
}
.member-details table tr td.Silver.Member {
    background: url(../images/silver.jpg) no-repeat;
    width: 140px;
    margin-left: 35px;
    height: 20px;
    padding-left: 20px;
    font-size: 0px;
}
.member-details table tr td.Gold.Member {
    background: url(../images/gold.jpg) no-repeat;
    width: 140px;
    margin-left: 35px;
    height: 20px;
    padding-left: 20px;
    font-size: 0px;
}
/**
* Star Rating
*/
.rate {
    float: left;
    height: auto;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



/* member listing v2 */
.member-listing-wrapper-v2 {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.member-listing-wrapper-v2 .member-item {
    width: 30%;
}
.member-listing-wrapper-v2 .member-item .member-info {
    display: block;
}

.pagination-wrapper {
    margin: 50px auto;
}

/**
* Footer
*/
.footer-distributed{
	background: #0b1419b5;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-size: 16px;
    font-weight: 600;
	padding: 55px 0px;
}
.footer-distributed .container {
    display: flex;
    justify-content: space-around;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
    padding: 0px 30px 0 0;
}
/* The company logo */
.footer-distributed h3{
	color:  #ffffff;
	font: normal 32px;
	margin: 0 0 20px 0;
    font-family: 'SilkSerif-Regular';
}
.footer-distributed h3 span{
	color:  #ffffff;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
    letter-spacing: 0.04em;
}
.footer-distributed .footer-company-name{
	color:  #fff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 25%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-menu ul {
    padding-left: 15px;
}
.footer-distributed .footer-menu ul li {
    list-style: none;
    color: #fff;
    margin: 0 0 8px 0;
    letter-spacing: 0.04em;
}
.footer-distributed .footer-menu ul li a {
    color: #fff;
	text-decoration: none;
}
.footer-distributed .footer-menu ul li:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #fff;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.copyright {
    /*background: #010c13b5;*/
    border-top: 3px solid #010c13b5;
    color: #000;
    font-size: 12px;
    text-align: center;
    padding: 8px 0;
    margin: 0;
    width: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    /*.navbar .nav-item:hover .nav-link{   }*/
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

@media (max-width: 1199px) {
    .container {
        max-width: 1100px;
    }
    .home-boxes-wrapper .home-boxes {
        width: 310px;
    }
    .banner-common-text {
        top: 7vw;
    }
    .banner-common-text h1 {
        font-size: 32px;
        margin: 15px;
    }
}

@media (max-width:1079px) {
    .navbar-expand-lg .navbar-nav a.nav-link, .navbar-expand-lg .navbar-nav.dropdown-item {
        font-size: 20px;
    }
}

@media (max-width:1070px) {
    .service-system-items {
        justify-content: space-around;
    }
    .system-item {
        width: 550px;
    }
}

@media (max-width:1030px) {
    .home-boxes-wrapper {
        justify-content: space-around;
    }
    .home-boxes-wrapper .home-boxes {
        width: 350px;
    }
    /*
    .home-boxes-wrapper .home-boxes:nth-child(3) {
        width: 700px;
    }
    */
    .system-item {
        width: 350px;
    }
}

@media (max-width: 1006px) {
    .navbar .nav-item:not(:last-child) {
        margin-right: 25px;
    }
    .our-amazing-team {
        justify-content: center;
    }
    .our-amazing-team .staff {
        width: 33.1%;
    }
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: left;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
    
}
@media screen and (max-width:767px){
    .banner-item-text {
        left: 0;
    }
    .footer-distributed .container {
        display: block;
    }
    nav.navbar {
        position: fixed!important;
        top: 0;
        z-index: 999;
        width: 100%;
        background-color: #fff;
    }
    header {
        margin-top: 106px;
        margin-bottom: 50px;
    }
    .banner-common-text {
        top: 22vw;
    }
    .banner-common-text h1 {
        font-size: 35px;
    }
    .ppl-logos {
        padding: 0 20px;
    }
    .ppl-logos img {
        max-height: 70px;
    }
    .footer-distributed .footer-menu ul {
        padding-left: 0px;
    }
    .ppl-mobile {
        display: block;
    }
    .ppl-desktop {
        display: none;
    }
    .footer-distributed {
        padding: 55px 30px;
    }
    .navbar-nav:nth-child(1) {
        margin:20px 0 0 20px;
    }
    .navbar-nav {
        margin:0 0 0 20px;
    }
    .main-banner img {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .home-boxes-wrapper .home-boxes {
        width: 500px;
    }
    .our-amazing-team .staff {
        width: 50%;
    }
    .views-our-amazing-team h2 {
        font-size: 43px;
    }
    .member-details table {
        width: auto;
    }
    .rate {

    }
    .member-item .member-logo {
        text-align: center;
    }
    .member-item .member-info {
        display: block;
    }
    .member-listing-wrapper-v2 .member-item {
        width: 100%;
    }
}
@media screen and (max-width:500px){
    .power-of-networking {
        padding: 20px 0 30px 0;
    }
    .power-of-networking h2 {
        font-size: 22px;
    }
    .home-boxes-wrapper {
        margin-top: 20px;
    }
    .home-boxes-wrapper .home-boxes {
        width: 100%;
    }
    .our-amazing-team .staff {
        width: 100%;
    }
    .views-our-amazing-team h2 {
        font-size: 35px;
    }
    .banner-common-text {
        top: 20vw;
    }
    .banner-common-text h1 {
        font-size: 25px;
        margin: 10px 0;
    }
    
}